@mixin absCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  // will handle later
  // @if $breakpoint == phone-mini {
  //   @media only screen and (max-width: 28.125em) {
  //     @content;
  //   }
  // }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
}
