// COLORS
$color-primary: #21242d;
$color-secondary: #16181e;
$color-button: #00b9ae; // change this name
$color-button-hover: #00ecde; // this aswell
// you could change text color's names too
$color-text-primary: #f9f9f9;
$color-text-secondary: #f9f9f9ab;
$color-text-tertiary: #aeafb2;
$color-text-fourth: #f9f9f933;
$color-text-fifth: #fafafa4d;

// FONTS
$font-lato: 'Lato', sans-serif;
