.home {
  height: 70vh;
  width: 100%;
  position: relative;

  &-wrapper {
    position: absolute;
    padding: 3.2rem;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(
      to top,
      rgba($color: $color-secondary, $alpha: 1) 10%,
      rgba($color: $color-secondary, $alpha: 0.5)
    );
    border-radius: 1.3rem;

    @include respond(tab-land) {
      height: 400px;
      padding: 1.6rem;
    }

    &-texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 70%;

      @include respond(tab-land) {
        width: 100%;
      }

      &-header {
        color: $color-text-primary;
        font-size: 4.4rem;
        font-weight: 900;

        @include respond(tab-port) {
          font-size: 4rem;
        }
      }
      &-paragraph {
        color: $color-text-tertiary;
        font-weight: 400;
        font-size: 1.6rem;
        text-align: center;

        @include respond(tab-port) {
          font-size: 1.4rem;
        }
      }
    }
  }

  &-img {
    height: 600px;
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;

    @include respond(tab-land) {
      height: 400px;
    }
  }
}
