.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9988;
  backdrop-filter: brightness(25%) blur(10px);
}

.modal-content {
  z-index: 9999;
  position: fixed;
  width: 45rem;
  height: 50rem;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-primary;
  padding: 2.4rem;
  border-radius: 1.5rem;

  @include respond(phone) {
    width: 38rem;
    height: 45rem;
    padding: 1.8rem;
  }

  &-top {
    display: flex;
    align-items: center;
    width: 100%;

    & span {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;

    @include respond(phone) {
      gap: 1.4rem;
    }
  }
  &-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &-close {
    font-size: 3.2rem;
    color: rgb(158, 158, 158);
    transition: all 0.3s;
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

.modal-content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &-title {
    font-size: 3.2rem;
    color: $color-text-primary;
  }

  &-label {
    align-self: start;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-text-secondary;
  }

  &-input {
    align-self: stretch;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: 1px solid $color-text-tertiary;
    border-radius: 5px;
    color: $color-primary;

    &::placeholder {
      color: $color-text-tertiary;
    }

    &:focus {
      border: 1px solid transparent;
      outline: 3px solid rgba($color: $color-text-tertiary, $alpha: 0.5);
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-button {
    border: none;
    padding: 1.4rem 2.8rem;
    background-color: $color-button;
    border-radius: 1.5rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text-primary;
    transition: all 0.2s;

    @include respond(phone) {
      padding: 1rem 2rem;
    }

    &:nth-child(2) {
      font-size: 1.4rem;
      justify-self: stretch;
      align-self: stretch;

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }
    &-update {
      border: none;
      display: block;
      padding: 1.2rem 2.4rem;
      background-color: $color-text-fourth;
      align-self: center;
      border-radius: 1.5rem;
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-text-primary;
      backdrop-filter: blur(7px);
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.01);
        background-color: $color-text-fifth;
      }

      &:disabled {
        transform: scale(1);
        color: rgba($color: $color-text-primary, $alpha: 0.1);
        background-color: rgba($color: $color-text-fourth, $alpha: 0.1);
        cursor: not-allowed;
      }

      &:active {
        transform: scale(1);
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $color-button-hover;
      transform: scale(1.03);
    }

    &:disabled {
      transform: scale(1);
      color: rgba($color: $color-text-primary, $alpha: 0.2);
      background-color: rgba($color: $color-button, $alpha: 0.2);
      cursor: not-allowed;
    }
  }

  &-forgot {
    align-self: end;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-button;
    margin-top: -1.4rem;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      color: $color-button-hover;
    }
  }

  &-alternative {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-button;
    transition: all 0.3s;
    position: relative;

    &::after {
      position: absolute;
      bottom: -3px;
      left: 0;
      content: '';
      width: 0px;
      height: 2px;
      background-color: $color-button-hover;
      transition: all 0.3s;
    }

    &:hover {
      cursor: pointer;
      color: $color-button-hover;
    }
    &:hover::after {
      width: 100%;
    }

    &-text {
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-text-fourth;
    }
  }
  &-image {
    height: 12.8rem;
    width: 12.8rem;
    border-radius: 2rem;
  }
}

.form-label-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.modal-close {
  font-size: 3.2rem;
  color: rgb(158, 158, 158);
  align-self: end;
  transition: all 0.3s;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.alternative-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.modal-password {
  z-index: 9999;
  position: fixed;
  width: 45rem;
  height: 22rem;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-primary;
  padding: 1.8rem;
  border-radius: 1.5rem;
}

.trailer-content {
  z-index: 9999;
  position: fixed;
  width: 35rem;
  height: 8rem;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-primary;
  padding: 2.4rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-text {
    font-size: 2rem;
    font-weight: 300;
    color: $color-text-primary;
  }

  &-icon-close {
    font-size: 2.8rem;
    color: rgb(158, 158, 158);
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: all 0.3s;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
