.navigation {
  background-color: $color-primary;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  min-height: 100%;
  width: 20rem;

  &-logo {
    cursor: pointer;
    position: relative;
    &:hover svg path {
      fill: $color-button;
    }
    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 1px;
      background-color: rgb(33, 36, 45);
      top: 0;
      right: -3em;

      @include respond(tab-port) {
        right: -2.4rem;
      }

      @include respond(phone) {
        width: 0;
      }
    }
  }

  &-logo svg {
    width: 156px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-land) {
      width: 140px;
    }

    @include respond(tab-port) {
      width: 120px;
    }

    @include respond(phone) {
      width: 90px;
    }

    & path {
      transition: all 0.3s;
    }
  }

  &-logo-active svg path {
    fill: $color-button;
  }

  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;

    &-header {
      font-size: 1.4rem;
      padding: 0 2.8rem;
      color: $color-text-secondary;
      font-weight: 400;
      margin-bottom: 0.6rem;
    }

    &-item {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 0.6rem 2.8rem;
      &:hover {
        cursor: pointer;
      }
      &:hover &-svg {
        color: $color-button;
        transition: all 0.2s;
      }

      &:hover &-link {
        transition: all 0.2s;
        color: $color-button;
      }

      &-svg {
        color: white;
        font-size: 1.8rem;
        stroke-width: 1;
        font-weight: 900;
        --ionicon-stroke-width: 40px;
      }
      &-link {
        color: $color-text-primary;
        text-decoration: none;
        font-size: 1.4rem;
      }
    }
  }
}
