.section-main {
  position: relative;
  min-height: 100vh;
  width: calc(100% - 30rem);
  background-color: $color-secondary;
  padding: 4rem 4.8rem 2.4rem 4.8rem;
  flex-direction: column;

  @include respond(tab-land) {
    width: calc((100% - 25rem));
    padding: 3.2rem 4rem 2rem 4rem;
  }

  @include respond(tab-port) {
    width: 100%;
  }

  @include respond(phone) {
    padding: 2rem 2.4rem 1rem 2.4rem;
  }

  &-header {
    margin-top: 6rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-text-primary;

    @include respond(tab-land) {
      margin-top: 2.8rem;
    }

    &:first-of-type {
      margin-top: 6rem;
    }
  }
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-list {
    display: flex;
    align-items: center;
    gap: 6rem;
    list-style: none;

    @include respond(tab-port) {
      gap: 4.8rem;
    }

    &-item {
      @include respond(phone) {
        display: none;
      }

      &-link {
        color: $color-text-primary;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        position: relative;

        &-active {
          color: $color-button;
          text-decoration: none;
          font-size: 2rem;
          font-weight: 500;
          position: relative;
          &::after {
            position: absolute;
            content: '';
            bottom: -1rem;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: $color-button;
            transition: all 0.2s;
          }
        }
        &::after {
          position: absolute;
          content: '';
          bottom: -1rem;
          left: 0;
          height: 3px;
          width: 0%;
          background-color: $color-button;
          transition: all 0.2s;
        }
        transition: all 0.2s;

        &:hover,
        &:active {
          color: $color-button;
        }

        &:hover::after {
          width: 100%;
        }
        &:active::after {
          width: 100%;
        }
      }
    }
  }

  &-box {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1.2rem 1.6rem;
    width: 28rem;
    border-radius: 1rem;
    position: relative;

    @include respond(tab-land) {
      width: 22rem;
    }

    @include respond(tab-port) {
      flex: 1;
      margin: 0 3.2rem;
      gap: 1rem;
      padding: 1.2rem;
    }

    @include respond(phone) {
      margin: 0 1.2rem 0 1.6rem;
    }

    &-input {
      border: none;
      display: block;
      font-size: 1.6rem;
      background-color: $color-primary;
      color: $color-text-tertiary;
      font-family: inherit;
      width: 80%;
      &:focus {
        outline: none;
      }

      @include respond(tab-port) {
        font-size: 1.4rem;
      }
    }
    &-icon {
      font-size: 2.2rem;
      color: $color-text-tertiary;

      @include respond(tab-port) {
        font-size: 2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-user {
    display: none;
    font-size: 3.6rem;
    color: #aeafb2;
    padding: 0.4rem;
    border-radius: 50%;
    background-color: rgba($color: $color-primary, $alpha: 0.4);
    transform: translateX(0.4rem);
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: rgba($color: $color-primary, $alpha: 0.6);
    }
    @include respond(tab-port) {
      display: block;
    }
  }
}

.image-wrapper {
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05),
      rgba(0, 0, 0, 0.7)
    );
  }
  &-photo {
    height: 45rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    position: relative;
    display: block;

    @include respond(tab-land) {
      height: 40rem;
    }

    @include respond(phone) {
      height: 36rem;
    }
  }

  &-header {
    color: $color-text-primary;
    font-size: 4.8rem;
    font-weight: 900;
    position: absolute;
    top: 2.4rem;
    left: 3.2rem;
    z-index: 2;

    @include respond(tab-land) {
      font-size: 4rem;
    }

    @include respond(phone) {
      font-size: 3.6rem;
      top: 1.6rem;
      left: 2rem;
    }
  }
}

.swiper-pagination {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    border-radius: 0.5rem;
    height: 2.6rem;
    width: 7.4rem;
    background-color: $color-text-fourth;

    @include respond(tab-land) {
      width: 6.4rem;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets {
  width: 20rem;
  bottom: 2.8rem;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond(phone) {
    bottom: 2.4rem;
  }
}

.swiper-pagination-bullet {
  background-color: $color-text-primary;
  width: 1rem;
  height: 1rem;
  opacity: 1;

  &:hover {
    background-color: rgb(190, 190, 190);
  }
}
.swiper-pagination-bullet-active {
  background-color: $color-button;
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 1.5rem;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background-color: $color-text-fourth;
  transition: all 0.2s;

  &:hover {
    background-color: $color-text-fifth;
  }
  &::after,
  &::before {
    font-size: 1.6rem;
    font-weight: 900;
    color: $color-text-primary;
  }

  @include respond(phone) {
    width: 4.4rem;
    height: 4.4rem;
  }
}
