.youtube-wrapper {
  height: 63.5rem;
  width: 100rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-land) {
    width: 88.9rem;
    height: 57.2rem;
  }

  @include respond(tab-port) {
    width: 68.75rem;
    height: 45.825rem;
  }

  @include respond(phone) {
    width: 42.86rem;
    height: 31.35rem;
  }
}

.youtube {
  box-shadow: -2px -3px 15px 5px rgba(0, 0, 0, 0.39);

  iframe {
    height: 56.3rem;
    width: 100rem;

    @include respond(tab-land) {
      width: 88.9rem;
      height: 50rem;
    }

    @include respond(tab-port) {
      width: 68.75rem;
      height: 38.625rem;
    }

    @include respond(phone) {
      width: 42.86rem;
      height: 24.15rem;
    }
  }
}

.close-video {
  background-color: black;
  width: 100%;
  padding: 2rem 1.5rem;
  height: 7.2rem;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & p {
    font-weight: 500;
  }
}

.icon-close {
  font-size: 2.8rem;
  color: rgb(158, 158, 158);
  transition: all 0.2s;
}

.icon-close:hover {
  color: white;
  cursor: pointer;
}

.yt-bg {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);

  @supports (backdrop-filter: brightness(25%) blur(5px)) or
    (-webkit-backdrop-filter: brightness(25%) blur(5px)) {
    background-color: transparent;
    backdrop-filter: brightness(25%) blur(5px);
    -webkit-backdrop-filter: brightness(25%) blur(5px);
  }

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
