.user-panel {
  background-color: $color-primary;
  width: 30rem;
  position: fixed;
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-primary;
  overflow-y: scroll;

  & h1 {
    font-size: 1.8rem;
  }

  @include respond(tab-land) {
    width: 25rem;
  }

  @include respond(tab-port) {
    transform: translateX(25rem);
    transition: all 0.3s;
    z-index: 110;
  }

  @include respond(phone) {
    width: 75%;
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 110;
  }

  &.user-panel-active {
    transform: translateX(0);
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    &-signin,
    &-signup {
      font-family: inherit;
      border: none;
      padding: 1.6rem 3.6rem;
      border-radius: 1.5rem;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.6px;

      @include respond(tab-land) {
        padding: 1.4rem 2.8rem;
      }
    }
    &-signin {
      color: $color-text-primary;
      background-color: rgba(128, 128, 128, 0.356);
      backdrop-filter: blur(7px);
      transition: all 0.2s;
      &:hover {
        background-color: $color-text-fifth;
      }
    }
    &-signup {
      color: $color-primary;
      background-color: $color-button;
      transition: all 0.2s;
      &:hover {
        background-color: $color-button-hover;
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2.8rem 1.4rem 2.8rem;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    gap: 2rem;
    min-height: 100%;
    height: min-content;

    @include respond(tab-land) {
      padding: 3.2rem 1.6rem 1rem 1.6rem;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &-top {
    position: relative;
    display: flex;
    align-self: flex-start;
    width: 100%;
    color: $color-text-primary;
    align-items: center;
    justify-content: space-between;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      bottom: -1rem;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: rgba(255, 255, 255, 0.05);
    }
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      color: inherit;
      border-radius: 50%;
      padding: 0.8rem;
      transform: translateX(-0.8rem);
      transition: all 0.3s;
      &:hover {
        background-color: rgba($color: $color-secondary, $alpha: 0.5);
        cursor: pointer;
      }
      &:active {
        background-color: $color-secondary;
        cursor: pointer;
      }

      &:hover &-icon {
        transform: rotate(45deg);
      }
      &:active &-icon {
        transform: rotate(90deg);
      }

      &-icon {
        font-size: 2.8rem;
        transition: all 0.3s;

        @include respond(tab-land) {
          font-size: 2.4rem;
        }
      }
    }
    &-img {
      width: 4.8rem;
      height: 4.8rem;
      object-fit: cover;
      border-radius: 1.5rem;
    }
    &-name {
      font-size: 1.6rem;
      font-weight: 400;
      width: 140px;
      text-align: end;
      overflow: hidden;

      @include respond(tab-land) {
        font-size: 1.4rem;
        width: 80px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }
  }

  &-list {
    align-self: flex-start;
    width: 100%;
  }

  &-logout {
    border: none;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: $color-button-remove;
    font-family: inherit;
    color: inherit;
    padding: 1.6rem 3.6rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.6px;
    transition: all 0.3s;

    @include respond(tab-land) {
      gap: 0.6rem;
      padding: 1.4rem 2.8rem;
    }

    &-icon {
      font-size: 2.4rem;
      --ionicon-stroke-width: 50px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: $color-button-remove-hover;
    }
    &:hover &-icon {
      transform: translateX(3px);
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    & p:first-child {
      font-size: 2.4rem;
      font-weight: 500;

      @include respond(tab-land) {
        font-size: 2rem;
      }
    }
    & p {
      font-size: 1.6rem;
      @include respond(tab-land) {
        font-size: 1.4rem;
      }
    }
  }
  &-backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: calc(100vw);
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: brightness(25%) blur(10px);
    transition: all 0.3s;

    &.user-panel-backdrop-active {
      visibility: inherit;
      opacity: 1;
    }
  }

  &-lists {
    display: none;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0 2.4rem;
    @include respond(phone) {
      display: flex;
    }
    &-item {
      &-link {
        color: $color-text-primary;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        position: relative;

        &-active {
          color: $color-button;
          text-decoration: none;
          font-size: 2rem;
          font-weight: 500;
          position: relative;
          &::after {
            position: absolute;
            content: '';
            bottom: -1rem;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $color-button;
            transition: all 0.2s;
          }
        }
        &::after {
          position: absolute;
          content: '';
          bottom: -1rem;
          left: 0;
          height: 3px;
          width: 0%;
          background-color: $color-button;
          transition: all 0.2s;
        }
        transition: all 0.2s;

        &:hover,
        &:active {
          color: $color-button;
        }

        &:hover::after {
          width: 100%;
        }
        &:active::after {
          width: 100%;
        }
      }
    }
  }
}

.panel-top {
  margin-top: 0.8rem;
  padding-bottom: 1.5rem;
}

body.blur {
  overflow: hidden;
}

.no-user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
